################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/skyora1.metadata.v10.bin
/.vs/ProjectEvaluation/skyora1.projects.v10.bin
/.vs/ProjectEvaluation/skyora1.strings.v10.bin
/.vs/skyora1/CopilotIndices/18.4.106.63888/CodeChunks.db
/.vs/skyora1.slnx/FileContentIndex
/.vs/skyora1/CopilotIndices/18.4.106.63888
/.vs/skyora1.slnx/v18/.suo
/.gitignore
/.gitignore
